{
	"printWidth": 100,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "es5",
	"semi": true,
	"endOfLine": "auto",
	"importOrder": ["^@/(.*)$", "^[./]"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrderGroupNamespaceSpecifiers": true
}
